In [1]:
# Import Dependencies
import warnings
warnings.filterwarnings("ignore")

import sqlalchemy
from sqlalchemy import create_engine
import pandas as pd
from pathlib import Path
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score
from sklearn.metrics import confusion_matrix
from imblearn.metrics import classification_report_imbalanced

In [2]:
# Create engine
engine = create_engine('postgresql://postgres:Dolphino7o8$one@localhost:5432/AirTravel')

In [3]:
# Read in dataset
airlines_df = pd.read_sql('SELECT * FROM flights', engine)
airlines_df.head()

,carrier_code,flight_number,tail_number,destination_airport,scheduled_date,scheduled_departure_time,actual_departure_time,departure_delay,wheels_off,taxi_out_time,delay_carrier,delay_weather,delay_national_aviation_system,delay_security,delay_late_aircraft_arrival,departure_from,is_delayed
0,UA,438,N39297,EWR,2022-01-04,10:00:00,10:19:00,19,10:38:00,19,8,0,0,0,8,ATL,1
1,UA,593,N17233,EWR,2022-01-04,21:45:00,21:55:00,10,22:10:00,15,0,0,0,0,0,ATL,0
2,UA,1249,None,EWR,2022-01-04,05:45:00,00:00:00,0,00:00:00,0,0,0,0,0,0,ATL,0
3,UA,1575,N815UA,EWR,2022-01-04,16:00:00,15:59:00,-1,16:12:00,13,0,0,45,0,0,ATL,1
4,UA,1680,N809UA,EWR,2022-01-04,12:20:00,13:11:00,51,13:24:00,13,2,0,26,0,49,ATL,1

In [4]:
# Load data
#airlines_df = pd.read_csv(Path('./Resources/updated_flights_data.csv'))
#airlines_df.head()

In [5]:
# Distribution of data
airlines_df.describe()

,departure_delay,taxi_out_time,delay_carrier,delay_weather,delay_national_aviation_system,delay_security,delay_late_aircraft_arrival,is_delayed
count,131308.000000,131308.000000,131308.000000,131308.000000,131308.000000,131308.000000,131308.000000,131308.000000
mean,11.335951,14.517935,5.980588,0.465851,2.030425,0.014119,2.613215,0.190133
std,41.876632,6.748000,32.319265,8.888030,13.616124,0.926063,16.027328,0.392408
min,-32.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,-3.000000,11.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,-1.000000,13.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,10.000000,16.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,2650.000000,167.000000,2647.000000,851.000000,867.000000,150.000000,955.000000,1.000000

In [6]:
# Check to see null values
airlines_df.isnull().sum()

carrier_code                        0
flight_number                       0
tail_number                       246
destination_airport                 0
scheduled_date                      0
scheduled_departure_time            0
actual_departure_time               0
departure_delay                     0
wheels_off                          0
taxi_out_time                       0
delay_carrier                       0
delay_weather                       0
delay_national_aviation_system      0
delay_security                      0
delay_late_aircraft_arrival         0
departure_from                      0
is_delayed                          0
dtype: int64

In [7]:
# Drop rows with null values
airlines_df = airlines_df.dropna()

In [8]:
# Check dtypes
airlines_df.dtypes

carrier_code                      object
flight_number                     object
tail_number                       object
destination_airport               object
scheduled_date                    object
scheduled_departure_time          object
actual_departure_time             object
departure_delay                    int64
wheels_off                        object
taxi_out_time                      int64
delay_carrier                      int64
delay_weather                      int64
delay_national_aviation_system     int64
delay_security                     int64
delay_late_aircraft_arrival        int64
departure_from                    object
is_delayed                         int64
dtype: object

In [9]:
# Create our features
X = airlines_df.copy()
X = X.drop(["actual_departure_time", "departure_delay", "wheels_off", "taxi_out_time", "delay_carrier", "delay_weather", "delay_national_aviation_system", "delay_security", "delay_late_aircraft_arrival", "is_delayed"], axis = 1)
X = pd.get_dummies(X)

# Create our target
y = airlines_df["is_delayed"]

In [10]:
# Look at X
X.head()

,carrier_code_AA,carrier_code_B6,carrier_code_DL,carrier_code_F9,carrier_code_NK,carrier_code_UA,carrier_code_WN,flight_number_100,flight_number_1002,flight_number_1006,...,scheduled_departure_time_23:45:00,scheduled_departure_time_23:47:00,scheduled_departure_time_23:48:00,scheduled_departure_time_23:49:00,scheduled_departure_time_23:50:00,scheduled_departure_time_23:54:00,scheduled_departure_time_23:55:00,scheduled_departure_time_23:56:00,scheduled_departure_time_23:59:00,departure_from_ATL
0,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
1,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
3,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
4,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
5,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [11]:
# Split the Data into Training and Testing
X_train, X_test, y_train, y_test = train_test_split(X, 
                                                    y, 
                                                    random_state=1, 
                                                    stratify=y)

In [12]:
# Create a Logistic Regression Model
classifier = LogisticRegression(solver='lbfgs', random_state=1)
classifier

LogisticRegression(random_state=1)

In [13]:
# Train the data
classifier.fit(X_train, y_train)

LogisticRegression(random_state=1)

In [14]:
# Predict outcomes for test data set
y_pred = classifier.predict(X_test)
results = pd.DataFrame({"Prediction": y_pred, "Actual": y_test}).reset_index(drop=True)
results.head()

   Prediction  Actual
0           0       1
1           0       0
2           0       0
3           0       0
4           0       0

In [15]:
# Calculate the balance accuracy score
print(accuracy_score(y_test, y_pred))

0.8143197216626992

In [16]:
# Display the confusion matrix
confusion_matrix(y_test, y_pred)

array([[25693,   831],
       [ 5253,   989]])

In [17]:
# Print the imbalanced classification report
print(classification_report_imbalanced(y_test, y_pred))

                   pre       rec       spe        f1       geo       iba       sup

          0       0.83      0.97      0.16      0.89      0.39      0.17     26524
          1       0.54      0.16      0.97      0.25      0.39      0.14      6242

avg / total       0.78      0.81      0.31      0.77      0.39      0.16     32766